@import 'base/variabels';
* {
	font-family: 'Roboto', sans-serif;
    background-color: $bg-color;
}

.container {
    max-width: 1104px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/general';
@import 'blocks/frontend-dev';
@import 'blocks/buttons';
@import 'blocks/course-suit';
@import 'blocks/footer';
