.footer {
    min-height: 128px;
    margin-top: 64px;
    &__divider {
        padding-top: 44px;
        background: rgba(216, 216, 216, 0.00);
        box-shadow: 0px -1px 0px 0px rgb(230, 232, 234) inset;
        height: 20px;
    }
    &__tinkoff-edu {
        color: $black;
        font-size: 13px;
        font-weight: 400;
    }
    &__email {
        color: $blue;
        text-decoration: none;
    }
}